<h1 class="text-3xl font-bold underline text-center p-7">
  RXJS
</h1>
<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">
        Product name
      </th>
      <th scope="col" class="py-3 px-6">
        Color
      </th>
      <th scope="col" class="py-3 px-6">
        Category
      </th>
      <th scope="col" class="py-3 px-6">
        Price
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let i of article_list">
      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
       {{i.title}}
      </th>
      <td class="py-4 px-6">
        {{i.id}}
      </td>
      <td class="py-4 px-6">
        {{i.description}}
      </td>
      <td class="py-4 px-6">
          delete
      </td>
    </tr>
    </tbody>
  </table>
</div>

  
